#logo{
    display: grid;
    align-items: center;
    height: 100%;
}

b{
    font-family: InterVariable;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    color: black;    
}

b>*:first-of-type{
    color: var(--primary)
}